<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alibaba.raise.mapper.MenuMapper">

    <resultMap id="baseResultMap" type="com.alibaba.raise.entity.Menu">

    </resultMap>

    <sql id="allColumn">
        id,pid,name,url,icon
    </sql>


    <select id="getAll" resultType="com.alibaba.raise.entity.Menu">
      select <include refid="allColumn"/>
      from menu
    </select>


</mapper>